In [35]:
import pandas as pd
import numpy  as np

In [36]:
df = pd.read_csv('/Users/jonahwork/Downloads/index.csv')

In [37]:
df

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN
...,...,...,...,...,...,...,...,...,...,...
899,2016,12,14,NaN,0.75,0.50,NaN,NaN,NaN,NaN
900,2017,1,1,NaN,0.75,0.50,0.65,NaN,4.8,2.3
901,2017,2,1,NaN,0.75,0.50,0.66,NaN,4.7,2.2
902,2017,3,1,NaN,0.75,0.50,NaN,NaN,NaN,NaN
903,2017,3,16,NaN,1.00,0.75,NaN,NaN,NaN,NaN

In [38]:
df = df[df['Year'] > 2010]
df = df[df['Year'] < 2019]
df

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
826,2011,1,1,NaN,0.25,0.00,0.17,-1.5,9.1,1.0
827,2011,2,1,NaN,0.25,0.00,0.16,NaN,9.0,1.1
828,2011,3,1,NaN,0.25,0.00,0.14,NaN,9.0,1.2
829,2011,4,1,NaN,0.25,0.00,0.10,2.9,9.1,1.3
830,2011,5,1,NaN,0.25,0.00,0.09,NaN,9.0,1.5
...,...,...,...,...,...,...,...,...,...,...
899,2016,12,14,NaN,0.75,0.50,NaN,NaN,NaN,NaN
900,2017,1,1,NaN,0.75,0.50,0.65,NaN,4.8,2.3
901,2017,2,1,NaN,0.75,0.50,0.66,NaN,4.7,2.2
902,2017,3,1,NaN,0.75,0.50,NaN,NaN,NaN,NaN
903,2017,3,16,NaN,1.00,0.75,NaN,NaN,NaN,NaN

In [39]:
yearly_df = df.groupby('Year').mean()

In [40]:
yearly_df

,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
Year,,,,,,,,,
2011,6.500000,1.000000,NaN,0.250000,0.000000,0.101667,1.700,8.933333,1.666667
2012,6.500000,1.000000,NaN,0.250000,0.000000,0.140000,1.300,8.075000,2.116667
2013,6.500000,1.000000,NaN,0.250000,0.000000,0.107500,2.675,7.366667,1.758333
2014,6.500000,1.000000,NaN,0.250000,0.000000,0.089167,2.525,6.166667,1.750000
2015,6.923077,2.153846,NaN,0.269231,0.019231,0.132500,1.875,5.258333,1.825000
2016,6.923077,2.000000,NaN,0.519231,0.269231,0.395000,1.900,4.850000,2.191667
2017,2.250000,4.750000,NaN,0.812500,0.562500,0.655000,NaN,4.750000,2.250000

In [41]:
yearly_df = yearly_df.reset_index()

In [42]:
pull2018 = yearly_df[yearly_df['Year'] == 2017]

In [43]:
pull2018

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
6,2017,2.25,4.75,NaN,0.8125,0.5625,0.655,NaN,4.75,2.25

In [44]:
pull2018['Year'] = 2018

<ipython-input-44-b714a01210e0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pull2018['Year'] = 2018

In [45]:
pull2018

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
6,2018,2.25,4.75,NaN,0.8125,0.5625,0.655,NaN,4.75,2.25

In [46]:
yearly_df = pd.concat([yearly_df, pull2018])

In [47]:
yearly_df

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,2011,6.500000,1.000000,NaN,0.250000,0.000000,0.101667,1.700,8.933333,1.666667
1,2012,6.500000,1.000000,NaN,0.250000,0.000000,0.140000,1.300,8.075000,2.116667
2,2013,6.500000,1.000000,NaN,0.250000,0.000000,0.107500,2.675,7.366667,1.758333
3,2014,6.500000,1.000000,NaN,0.250000,0.000000,0.089167,2.525,6.166667,1.750000
4,2015,6.923077,2.153846,NaN,0.269231,0.019231,0.132500,1.875,5.258333,1.825000
5,2016,6.923077,2.000000,NaN,0.519231,0.269231,0.395000,1.900,4.850000,2.191667
6,2017,2.250000,4.750000,NaN,0.812500,0.562500,0.655000,NaN,4.750000,2.250000
6,2018,2.250000,4.750000,NaN,0.812500,0.562500,0.655000,NaN,4.750000,2.250000

In [48]:
yearly_df.columns

Index(['Year', 'Month', 'Day', 'Federal Funds Target Rate',
       'Federal Funds Upper Target', 'Federal Funds Lower Target',
       'Effective Federal Funds Rate', 'Real GDP (Percent Change)',
       'Unemployment Rate', 'Inflation Rate'],
      dtype='object')

In [49]:
yearly_df = yearly_df.drop(columns = ['Month', 'Day', 'Federal Funds Target Rate',
       'Federal Funds Upper Target', 'Federal Funds Lower Target',
       'Real GDP (Percent Change)',
       'Unemployment Rate', 'Inflation Rate'], axis = 1)

In [51]:
yearly_df

   Year  Effective Federal Funds Rate
0  2011                      0.101667
1  2012                      0.140000
2  2013                      0.107500
3  2014                      0.089167
4  2015                      0.132500
5  2016                      0.395000
6  2017                      0.655000
6  2018                      0.655000

In [74]:
df = pd.read_csv('/Users/jonahwork/Documents/united-states-gdp-growth-rate.csv')

In [75]:
df

          date   GDP Growth (%)   Annual Change
0   1961-12-31           2.3000             NaN NaN
1   1962-12-31           6.1000            3.80 NaN
2   1963-12-31           4.4000           -1.70 NaN
3   1964-12-31           5.8000            1.40 NaN
4   1965-12-31           6.4000            0.60 NaN
5   1966-12-31           6.5000            0.10 NaN
6   1967-12-31           2.5000           -4.00 NaN
7   1968-12-31           4.8000            2.30 NaN
8   1969-12-31           3.1000           -1.70 NaN
9   1970-12-31          -0.4105           -3.51 NaN
10  1971-12-31           3.2934            3.70 NaN
11  1972-12-31           5.2589            1.97 NaN
12  1973-12-31           5.6457            0.39 NaN
13  1974-12-31          -0.5405           -6.19 NaN
14  1975-12-31          -0.2055            0.34 NaN
15  1976-12-31           5.3881            5.59 NaN
16  1977-12-31           4.6242           -0.76 NaN
17  1978-12-31           5.5353            0.91 NaN
18  1979-12-31           3.1662           -2.37 NaN
19  1980-12-31          -0.2568           -3.42 NaN
20  1981-12-31           2.5377            2.79 NaN
21  1982-12-31          -1.8029           -4.34 NaN
22  1983-12-31           4.5839            6.39 NaN
23  1984-12-31           7.2366            2.65 NaN
24  1985-12-31           4.1697           -3.07 NaN
25  1986-12-31           3.4627           -0.71 NaN
26  1987-12-31           3.4596            0.00 NaN
27  1988-12-31           4.1770            0.72 NaN
28  1989-12-31           3.6727           -0.50 NaN
29  1990-12-31           1.8860           -1.79 NaN
30  1991-12-31          -0.1083           -1.99 NaN
31  1992-12-31           3.5224            3.63 NaN
32  1993-12-31           2.7528           -0.77 NaN
33  1994-12-31           4.0288            1.28 NaN
34  1995-12-31           2.6843           -1.34 NaN
35  1996-12-31           3.7725            1.09 NaN
36  1997-12-31           4.4472            0.67 NaN
37  1998-12-31           4.4814            0.03 NaN
38  1999-12-31           4.7532            0.27 NaN
39  2000-12-31           4.1275           -0.63 NaN
40  2001-12-31           0.9983           -3.13 NaN
41  2002-12-31           1.7417            0.74 NaN
42  2003-12-31           2.8612            1.12 NaN
43  2004-12-31           3.7989            0.94 NaN
44  2005-12-31           3.5132           -0.29 NaN
45  2006-12-31           2.8550           -0.66 NaN
46  2007-12-31           1.8762           -0.98 NaN
47  2008-12-31          -0.1366           -2.01 NaN
48  2009-12-31          -2.5368           -2.40 NaN
49  2010-12-31           2.5638            5.10 NaN
50  2011-12-31           1.5508           -1.01 NaN
51  2012-12-31           2.2495            0.70 NaN
52  2013-12-31           1.8421           -0.41 NaN
53  2014-12-31           2.5260            0.68 NaN
54  2015-12-31           3.0755            0.55 NaN
55  2016-12-31           1.7114           -1.36 NaN
56  2017-12-31           2.3327            0.62 NaN
57  2018-12-31           2.9965            0.66 NaN
58  2019-12-31           2.1612           -0.84 NaN
59  2020-12-31          -3.4861           -5.65 NaN

In [76]:
df['Year'] = df['date'].str[:4].astype(int)

In [77]:
df

          date   GDP Growth (%)   Annual Change      Year
0   1961-12-31           2.3000             NaN NaN  1961
1   1962-12-31           6.1000            3.80 NaN  1962
2   1963-12-31           4.4000           -1.70 NaN  1963
3   1964-12-31           5.8000            1.40 NaN  1964
4   1965-12-31           6.4000            0.60 NaN  1965
5   1966-12-31           6.5000            0.10 NaN  1966
6   1967-12-31           2.5000           -4.00 NaN  1967
7   1968-12-31           4.8000            2.30 NaN  1968
8   1969-12-31           3.1000           -1.70 NaN  1969
9   1970-12-31          -0.4105           -3.51 NaN  1970
10  1971-12-31           3.2934            3.70 NaN  1971
11  1972-12-31           5.2589            1.97 NaN  1972
12  1973-12-31           5.6457            0.39 NaN  1973
13  1974-12-31          -0.5405           -6.19 NaN  1974
14  1975-12-31          -0.2055            0.34 NaN  1975
15  1976-12-31           5.3881            5.59 NaN  1976
16  1977-12-31           4.6242           -0.76 NaN  1977
17  1978-12-31           5.5353            0.91 NaN  1978
18  1979-12-31           3.1662           -2.37 NaN  1979
19  1980-12-31          -0.2568           -3.42 NaN  1980
20  1981-12-31           2.5377            2.79 NaN  1981
21  1982-12-31          -1.8029           -4.34 NaN  1982
22  1983-12-31           4.5839            6.39 NaN  1983
23  1984-12-31           7.2366            2.65 NaN  1984
24  1985-12-31           4.1697           -3.07 NaN  1985
25  1986-12-31           3.4627           -0.71 NaN  1986
26  1987-12-31           3.4596            0.00 NaN  1987
27  1988-12-31           4.1770            0.72 NaN  1988
28  1989-12-31           3.6727           -0.50 NaN  1989
29  1990-12-31           1.8860           -1.79 NaN  1990
30  1991-12-31          -0.1083           -1.99 NaN  1991
31  1992-12-31           3.5224            3.63 NaN  1992
32  1993-12-31           2.7528           -0.77 NaN  1993
33  1994-12-31           4.0288            1.28 NaN  1994
34  1995-12-31           2.6843           -1.34 NaN  1995
35  1996-12-31           3.7725            1.09 NaN  1996
36  1997-12-31           4.4472            0.67 NaN  1997
37  1998-12-31           4.4814            0.03 NaN  1998
38  1999-12-31           4.7532            0.27 NaN  1999
39  2000-12-31           4.1275           -0.63 NaN  2000
40  2001-12-31           0.9983           -3.13 NaN  2001
41  2002-12-31           1.7417            0.74 NaN  2002
42  2003-12-31           2.8612            1.12 NaN  2003
43  2004-12-31           3.7989            0.94 NaN  2004
44  2005-12-31           3.5132           -0.29 NaN  2005
45  2006-12-31           2.8550           -0.66 NaN  2006
46  2007-12-31           1.8762           -0.98 NaN  2007
47  2008-12-31          -0.1366           -2.01 NaN  2008
48  2009-12-31          -2.5368           -2.40 NaN  2009
49  2010-12-31           2.5638            5.10 NaN  2010
50  2011-12-31           1.5508           -1.01 NaN  2011
51  2012-12-31           2.2495            0.70 NaN  2012
52  2013-12-31           1.8421           -0.41 NaN  2013
53  2014-12-31           2.5260            0.68 NaN  2014
54  2015-12-31           3.0755            0.55 NaN  2015
55  2016-12-31           1.7114           -1.36 NaN  2016
56  2017-12-31           2.3327            0.62 NaN  2017
57  2018-12-31           2.9965            0.66 NaN  2018
58  2019-12-31           2.1612           -0.84 NaN  2019
59  2020-12-31          -3.4861           -5.65 NaN  2020

In [78]:
df_final = yearly_df.merge(df, how = 'left', on = 'Year')

In [81]:
df_final

,Year,Effective Federal Funds Rate,date,GDP Growth (%),Annual Change,
0,2011,0.101667,2011-12-31,1.5508,-1.01,NaN
1,2012,0.140000,2012-12-31,2.2495,0.70,NaN
2,2013,0.107500,2013-12-31,1.8421,-0.41,NaN
3,2014,0.089167,2014-12-31,2.5260,0.68,NaN
4,2015,0.132500,2015-12-31,3.0755,0.55,NaN
5,2016,0.395000,2016-12-31,1.7114,-1.36,NaN
6,2017,0.655000,2017-12-31,2.3327,0.62,NaN
7,2018,0.655000,2018-12-31,2.9965,0.66,NaN

In [82]:
df_final.columns

Index(['Year', 'Effective Federal Funds Rate', 'date', ' GDP Growth (%)',
       ' Annual Change', ' '],
      dtype='object')

In [83]:
df_final = df_final.drop(columns = [' ', 'date'])

In [84]:
df_final

   Year  Effective Federal Funds Rate   GDP Growth (%)   Annual Change
0  2011                      0.101667           1.5508           -1.01
1  2012                      0.140000           2.2495            0.70
2  2013                      0.107500           1.8421           -0.41
3  2014                      0.089167           2.5260            0.68
4  2015                      0.132500           3.0755            0.55
5  2016                      0.395000           1.7114           -1.36
6  2017                      0.655000           2.3327            0.62
7  2018                      0.655000           2.9965            0.66